/* Login button grow on hover */
.login-btn {
  transition: transform ease-in-out 0.2s;
  display: inline-block;
}
.login-btn:hover {
  transform: translateX(3px) scale(1.08);
  
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

